<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Hello!</title>
        <link rel="stylesheet" href="~/css/styles.css"/>
    </head>
    <body>
        <div id="container">
            <h2>Random passcode #1:</h2>
            <h1>@ViewBag.pw</h1>
            <a href="/"><button>Generate</button></a>
        </div>
    </body>
</html>