@Model IEnumerable<wedding_planner.Models.Wedding>

<h1>Welcome to Wedding Planner</h1>
<a href="/logout">Logout</a>

<hr>

<table>
    <tr>
        <th>Wedding</th>
        <th>Date</th>
        <th>Guests</th>
        <th>Action</th>
    </tr>
    


</table>

@{
    foreach(var wed in @Model)
    {
        <p>@wed.Date</p>    
    }
}

<hr>

<a href="/new"><button>New Wedding</button></a>