<h1>Plan your wedding:</h1>
<form action="/create" method="post">
    <label for="Wedder1">Wedder 1: </label>
    <input id="Wedder1" type="text" name="wedder1"/>
    <br>
    <label for="Wedder2">Wedder 2: </label>
    <input id="Wedder2" type="text" name="wedder2"/>
    <br>
    <label for="date">Date: </label>
    <input id="date" type="text" name="date"/>
    <br>
    <label for="Address">Address: </label>
    <input id="Address" type="text" name="address"/>
    <br>
    <input type="submit" value="Create">
</form>